name: SAST + SCA - Config Runs

on:
  workflow_dispatch:

jobs:
  sast-scan-with-config:
    name: FA SAST (config)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Fluid Attacks SAST Scan with fluidattacks-config.yaml
        id: sast_scan
        uses: docker://docker.io/fluidattacks/sast:latest
        with:
          args: sast --strict scan fluidattacks-sast-config.yaml
            
      - name: Upload SAST scan results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: fa-sast-results
          path: |
            Security-SAST.csv
            fluidattacks-sast-config.yaml
          retention-days: 30

  sca-scan-with-config:
    name: FA SCA (config)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Validate fluidattacks-sca-config.yaml exists
        run: |
          if [ ! -f fluidattacks-sca-config.yaml ]; then
            echo "Missing: fluidattacks-sca-config.yaml"
            exit 1
          fi

      - name: Run Fluid Attacks SCA Scan (config)
        id: sca_scan
        uses: docker://docker.io/fluidattacks/sca:latest
        with:
          args: sca --strict scan fluidattacks-sca-config.yaml
          
      - name: Upload SCA scan results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: fa-sca-results
          path: |
            Security-SCA.csv
            fluidattacks-sca-config.yaml
          retention-days: 30

  semgrep:
    name: semgrep/ci - STRICT
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
    container:
      image: semgrep/semgrep
    if: (github.actor != 'dependabot[bot]')
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run semgrep CI
        run: |
          semgrep ci
          exit_code=$?
          if [ $exit_code -ne 0 ]; then
            echo "::error::Semgrep found security issues!"
            exit 1
          fi
