name: CI - FluidAttacks (SAST + SCA) - BREAKING
on:
  workflow_dispatch: {}
  pull_request: {}
  push:
    branches:
      - main
      - master
  schedule:
    - cron: "12 15 * * *"

jobs:
  fluidattacks_scans:
    name: FluidAttacks scans (SAST + SCA) - STRICT
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Fluid Attacks SAST Scan with sast-config.yaml
        id: sast_scan
        uses: docker://docker.io/fluidattacks/sast:latest
        with:
          args: sast --strict scan sast-config.yaml
            
      - name: Upload SAST scan results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: sast-results-with-config
          path: |
            Fluid-Attacks-Sast-Results.csv
            sast-config.yaml
          retention-days: 30
          
      - name: Run Fluid Attacks SCA Scan with fluidattacks.config.yml
        id: sca_scan
        uses: docker://docker.io/fluidattacks/sca:latest
        with:
          args: sca --strict scan fluidattacks.config.yml
          
      - name: Upload SCA scan results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: sca-results-with-config
          path: |
            Fluid-Attacks-SCA-Results.csv
            fluidattacks.config.yml
          retention-days: 30

  semgrep:
    name: semgrep/ci - STRICT
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
    container:
      image: semgrep/semgrep
    if: (github.actor != 'dependabot[bot]')
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run semgrep CI
        run: |
          semgrep ci
          exit_code=$?
          if [ $exit_code -ne 0 ]; then
            echo "::error::Semgrep found security issues!"
            exit 1
          fi
